/node_modules/

/test-results/
/playwright-report/
/blob-report/

/playwright/.cache/

.env
.env.*  # Якщо є файли .env.development, .env.production тощо

dist/
build/

coverage/

.DS_Store        # macOS
Thumbs.db        # Windows
*.log            # Логи, якщо можуть з’являтись

